local/config/build.properties
local/config/config_db.php
local/config/build
local/config/database.yml
local/config/database.yml.sample.save
local/config/key
core/vendor
local/config/runtime-conf.xml
cache/*
log/*
bin/*
local/session/*
coverage
.idea
.buildpath
.project
.settings/
local/media/documents/*
local/media/images/*
!local/media/images/store/favicon.png
!local/media/images/store/logo.png
!local/media/images/store/banner.jpg
web/assets/*
web/cache/*
web/tinymce
web/media
phpdoc*.log
xhprof/
phpunit.phar
.DS_Store
phpmyadmin
composer.phar
web/.htaccess
local/I18n/*.php

#Ignore CodeKit
codekit-config.json
config.codekit
.codekit-cache

# Ignore casperjs screenshots
tests/functionnal/casperjs/screenshot/
tests/phpunit/Thelia/Tests/Api/fixtures/visuel*.png

/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/*
/web/uploads/
composer.lock
#/web/.htaccess
#/web/.htpasswd
/logs
/.data
!.env.dist
/docker/.env.dist
